/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ensure content is scrollable */
.custom-scrollbar {
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}

